html{
	font-family: 'Roboto', 'Arial', sans-serif;
	height: 100%;
	margin: 0;
}

/** STICKY FOOTER **/
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height:100%;
	margin:0;	
}
main {
	flex: 1 0 auto;
	/* For the get started div when resizing the window */
	min-height: 300px;
	position: relative;
}

/* Footer */
.page-footer{
	padding-top: 5px !important;
}

#footer-row{
	margin-bottom: 3px !important;
}

#github-link{
	vertical-align: 8px;
}

.footer-h6{
	line-height: unset !important;
}

#background-image {
	/* IMAGE TAKEN FROM https://unsplash.com/photos/JWiMShWiF14 FREE OF USE WITHOUT ANY CREDITS REQUIRED https://unsplash.com/license */
	background-image: url(../img/jeff-sheldon-3231-unsplash.jpg);

	/* Scalign and positioning of the image */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	/* Blurr the image */
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

.get-started, .get-started-logged-in{
	background-color: rgba(0,0,0, 0.4);
	border: 2px solid #135aaa;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

#get-started-choice{
	display: none;
}

.brand-logo {
	font-family: 'Sofia';
}

.brand-logo img {
    height: 64px;
}

.brand-logo-about{
	margin-top: -40px;
}

.brand-logo-about img {
    height: 120px;
}

nav ul .waves-effect i {
	display: inline-flex;
	vertical-align: middle;
}

nav ul .waves-effect span {
	display: none;
	padding-left: 5px;
}

#nav-home {
	display: unset;
}

#nav-left-content {
	padding-left: 50px;
}

nav .input-field{
	height: unset !important;
}

#search-bar{
	margin-left:220px;
	max-width: 400px;
}

#select-bar{
	margin-left:220px;
	max-width: 200px;
}

.input-select-navbar span{
	display: block !important;
}

nav .select-wrapper .caret{
	fill: white !important;
}

nav .select-wrapper input.select-dropdown{
	border-bottom: 1px solid white;
}

nav .select-dropdown{
	color: #d1d1d1;
}

#search-sidenav{
	margin-left: 50px;
	max-width: 200px;
}

.input-select-navbar{
	padding-top: 9.5px !important;
}

#search{
	margin: 0;
}

.signedin{
	display: none;
}

.search-input:focus{
	color: #000000 !important;
}

.search-sidenav-icons{
	line-height: unset;
}

.input-select-sidenav{
	margin-left: 50px;
    max-width: 200px;
}

/* Search results */
.search-results{
	text-align: center;
}

.text-card{
	text-align: justify;
}

.card-content-limit{
	height: 150px;
	overflow: auto;
}

.card-image-project{
	/*width: unset !important;*/
	max-width: 100%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.card-image-user{
	width: unset !important;
	max-width: 100%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	display: block;
}

/* Pagination color */
.pagination li.active{
	background-color: #135aaa;
}

/* Sign Up passwords message */
#helper-text-password1, #helper-text-password2{
	display: none;
	color: red;
}

/* Sign Out */
#modal-logout{
	margin-right: 2%;
    margin-top: 2%;
    height: 25% !important;
    width: 50% !important;
}

/* Project details */
#main-project{
	min-height: 600px !important;
}

#main-user-profile{
	min-height: 500px !important;
}

.project-container{
	background-color: rgba(0,0,0, 0.4);
	border: 2px solid #135aaa;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;	
}

.project-text{
	text-align: justify;
	max-height: 300px;
	overflow: auto;
}

.user-text{
	text-align: justify;
	max-height: 380px;
	overflow: auto;	
}

.project-text-med{
	text-align: justify;
	max-height: 550px;
	overflow: auto;
}

.project-text-title{
	font-weight: bold;
}

/* Project image */
.project-image-large{
	max-width: 100%;
	/*border-radius: */
	max-height: 200px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.project-image-med-and-down{
	max-width: 100%;
	/*border-radius: */
	max-height: 200px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.image-user{
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
}

.btn-apply{
	margin: 20px;
}

.small-circle{
	height: 64px !important;
	width: 64px !important;
}

/* Profile page */
.big-circle{
	height: 256px !important;
	width: 256px !important;
}

.title-user{
	position: absolute !important;
	top: 40px !important;
	left: 90px !important;
	font-size: 24px !important;
}

.link-user{
	top: 5px !important;
	right: 10px !important;
}

.link-text-user{
    vertical-align: 7px;
    padding-left: 6px;
}

.project-mini-image{
	border-radius: unset !important;
}

#hidden-div-values{
	display: none;
}

