<!DOCTYPE html>
<html lang="en">
<head>
	<title>TeamUP&uarr; - Project details</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<!-- Special tag for Microsoft -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">		
	<!-- Description -->
	<meta name="description" content="Home page of the coursework for the Web Technologies course">
	<!-- How the layout and content adapts to the mobile viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel='shortcut icon' type='image/x-icon' href='/img/favicon.png' />

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">

	<!-- Javascript -->
	<script type="text/javascript" src="../js/vendor/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script type="text/javascript" src="../js/vendor/aws-sdk.min.js"></script>
	<script type="text/javascript" src="../js/vendor/aws-cognito-sdk.min.js"></script>
	<script type="text/javascript" src="../js/vendor/amazon-cognito-identity.min.js"></script>
	<script type="text/javascript" src="../js/auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-messaging.js"></script>
	<script type="text/javascript" src="../js/im.js"></script>
	<script src="//cdn.jsdelivr.net/alasql/0.2/alasql.min.js"></script>

	<script type="text/javascript" src="../js/script.js"></script>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper blue darken-4">
				<div id="nav-left-content">
					<!-- <a href="#!" class="brand-logo" onclick="navigation('home')">TeamUP&uarr;</a> -->
					<a href="#!" class="brand-logo" onclick="navigation('home')"><img src="/img/logo.png"></a>
					<a href="#" data-target="smaller-size-browser" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>
				</div>

				<ul class="right hide-on-med-and-down">
					<li class="active navbar-home"><a href="#" class="waves-effect nav-link" onclick="navigation('home')"><i class="material-icons">home</i><span id="nav-home">Home</span></a></li>
					<li class="signedin"><a href="#" class="waves-effect nav-link modal-trigger" data-target="modal-project"><i class="material-icons">create_new_folder</i><span>Create a project</span></a></li>
					<!-- <li class="signedin"><a href="#" class="waves-effect nav-link"><i class="material-icons">contacts</i><span>Contacts</span></a></li> -->
					<li class="signedin"><a href="/message" class="waves-effect nav-link"><i class="material-icons">message</i><small class="notification-count">5</small><span>Messages</span></a></li>
					<!-- <li class="signedin"><a href="#" class="waves-effect nav-link"><i class="material-icons">notifications</i><span>Notifications</span></a></li> -->
					<li class="signedin"><a href="#" class="my-profile waves-effect nav-link"><i class="material-icons">account_circle</i><span>My Profile</span></a></li>
					<li class="signedout"><a href="#" class="waves-effect nav-link modal-trigger" data-target="modal-about"><i class="material-icons">info</i><span>About</span></a></li>
					<li class="signedout"><a href="#" class="waves-effect nav-link modal-trigger" data-target="modal-signup"><i class="material-icons">add_circle</i><span>Sign Up</span></a></li>
					<li class="signedout"><a href="#" class="waves-effect nav-link modal-trigger" data-target="modal-login"><i class="material-icons">exit_to_app</i><span>Sign In</span></a></li>					
					<li class="signedin"><a href="#" class="waves-effect nav-link modal-trigger" data-target="modal-logout"><i class="material-icons">power_settings_new</i><span>Sign Out</span></a></li>
				</ul>

				<form class="hide-on-med-and-down" id="search-bar">
					<div class="row">
						<div class="input-field input-select-navbar col l4">
							<select id="select-navbar" class="select-search">
								<option value="" disabled selected>Choose</option>
								<option value="1">Users</option>
								<option value="2"">Projects</option>
							</select>
						</div>
						<div class="input-field col l8">
							<input class="search-input white-text" id="search" type="search" name="search" placeholder="Search" required>
							<label class="label-icon" for="search"><i id="search-icons1" class="search-icons material-icons">search</i></label>
							<i class="material-icons search-close">close</i>
						</div>
					</div>
				</form>
			</div>
		</nav>

		<ul class="sidenav" id="smaller-size-browser">
			<li class="active navbar-home"><a href="#" class="waves-effect" onclick="navigation('home')"><i class="material-icons">home</i>Home</a></li>
			<li>
				<form id="search-bar-sidenav">
					<div class="input-field input-select-sidenav">
						<select id="select-sidenav" class="select-search">
							<option value="" disabled selected>Choose</option>
							<option value="1">Users</option>
							<option value="2"">Projects</option>
						</select>
					</div>						
					<div class="input-field">
						<input class="search-input" id="search-sidenav" type="search" name="search-sidenav" placeholder="Search" required>
						<label class="label-icon" for="search-sidenav"><i id="search-icons2" class="search-icons material-icons search-sidenav-icons">search</i></label>
						<i class="material-icons search-close search-sidenav-icons">close</i>
					</div>
				</form>
			</li>
			<li class="signedin"><a href="#" class="waves-effect modal-trigger" data-target="modal-project"><i class="material-icons">create_new_folder</i>Create a project</a></li>
			<!-- <li class="signedin"><a href="#" class="waves-effect"><i class="material-icons">contacts</i>Contacts</a></li> -->
			<li class="signedin"><a href="/message" class="waves-effect"><i class="material-icons">message</i><small class="notification-count-sidenav">5</small><span>Messages</span></a></li>
			<!-- <li class="signedin"><a href="#" class="waves-effect"><i class="material-icons">notifications</i><span>Notifications</span></a></li> -->
			<li class="signedout"><a href="#" class="waves-effect modal-trigger" data-target="modal-about"><i class="material-icons">info</i>About</a></li>
			<li class="signedout"><a href="#" class="waves-effect modal-trigger" data-target="modal-signup"><i class="material-icons">add_circle</i>Sign Up</a></li>
			<li class="signedout"><a href="#" class="waves-effect modal-trigger" data-target="modal-login"><i class="material-icons">exit_to_app</i>Sign In</a></li>
			<li class="signedin"><a href="#" class="my-profile waves-effect"><i class="material-icons">account_circle</i>My Profile</a></li>
			<li class="signedin"><a href="#" class="waves-effect modal-trigger" data-target="modal-logout"><i class="material-icons">power_settings_new</i>Sign Out</a></li>
		</ul>		
	</header>
	<main id="main-project">
		<div id="background-image"></div>
      	<div class="project-container grey lighten-3 hide-on-med-and-down">
		    <div class="row">
			    <div class="col s12"><h4 class="user-nickname">{{project.name}}</h4><hr/></div>
			    <div class="col s6">
			    	<button class="btn waves-effect btn-apply applicationBtn modal-trigger" data-target="modal-apply"><i class="material-icons left">add</i>Apply for the project</button>
			    	<button class="btn waves-effect btn-apply quitBtn red modal-trigger" data-target="modal-quit"><i class="material-icons left">exit_to_app</i>Quit the project</button>
			    	<div>
			    		<img class="project-image-large" src="https://s3.eu-west-2.amazonaws.com/teamup-images/{{{project.image}}}" onerror="this.src='https://s3.eu-west-2.amazonaws.com/teamup-images/_default_project_image.jpg';" alt="Image is missing">
			    	</div>
			    </div>
			    <div class="col s6 project-text">
	    	 		<div class="project-text-title"><h5>Creator</h5></div>
					<ul class="collection">
						<li class="collection-item avatar grey lighten-4">
						<img class="circle small-circle" src="https://s3.eu-west-2.amazonaws.com/teamup-images/{{{creator.image}}}" onerror="this.src='https://s3.eu-west-2.amazonaws.com/teamup-images/_default_user_image.png';" alt="Image is missing">
						<span class="title title-user title-user-large">{{creator.nickname}}</span>
						<a href="/user/profile?id={{{creator.email}}}" class="secondary-content link-user"><i class="material-icons">link</i><span class="link-text-user">Go to user profile</span></a>
						</li>
						<div id="hidden-div-values" data-value="{{{creator.email}}}"></div>
						<div id="hidden-div" data-value="{{{project.id}}}"></div>
					</ul>
				    <div class="project-text-title"><h5>Description</h5></div>
					<div>{{project.desc}}</div>
					<div class="project-text-title"><h5>List of skills</h5></div>
					<div>
						<ul class="collection">
						{{#project.skills}}
							<li class="collection-item grey lighten-4">{{.}}</li>
						{{/project.skills}}
						</ul>
					</div>

					<div class="project-text-title"><h5>Participants</h5></div>
					<ul class="collection">
						{{#users}}
						<li class="collection-item avatar grey lighten-4">
						<img class="circle small-circle" src="https://s3.eu-west-2.amazonaws.com/teamup-images/{{{image}}}" onerror="this.src='https://s3.eu-west-2.amazonaws.com/teamup-images/_default_user_image.png';" alt="Image is missing">
						<span class="title title-user title-user-large">{{nickname}}</span>
						<a href="/user/profile?id={{{email}}}" class="secondary-content link-user"><i class="material-icons">link</i><span class="link-text-user">Go to user profile</span></a>
						<div class="hidden-div" data-value="{{{email}}}"></div>
						{{/users}}
						</li>
					</ul>
				</div>
	    	</div>
      	</div>

      	<div id="project-container-med" class="project-container grey lighten-3 hide-on-large-only">
		    <div class="row">
			    <div class="col s12"><h5 class="project-name">{{project.name}}</h5><hr/></div>
			    <div class="col s12">
			    	<img class="project-image-med-and-down" src="https://s3.eu-west-2.amazonaws.com/teamup-images/{{{project.image}}}" onerror="this.src='https://s3.eu-west-2.amazonaws.com/teamup-images/_default_project_image.jpg';" alt="Image is missing">
			    </div>
			    <div class="col s12 project-text-med">
			    	<div class="project-text-title"><h6>Creator</h6></div>
					<ul class="collection">
						<li class="collection-item avatar grey lighten-4">
						<img class="circle small-circle" src="https://s3.eu-west-2.amazonaws.com/teamup-images/{{{creator.image}}}" onerror="this.src='https://s3.eu-west-2.amazonaws.com/teamup-images/_default_user_image.png';" alt="Image is missing">
						<span class="title title-user title-user-med-and-down">{{creator.nickname}}</span>
						<a href="/user/profile?id={{{creator.email}}}" class="secondary-content link-user"><i class="material-icons">link</i><span class="link-text-user">Go to user profile</span></a>
						</li>
					</ul>
				    <div class="project-text-title"><h6>Description</h6></div>
					<div>{{project.desc}}</div>
					<div class="project-text-title"><h6>List of skills</h6></div>
					<div>
						<ul class="collection">
						{{#project.skills}}
							<li class="collection-item grey lighten-4">{{.}}</li>
						{{/project.skills}}
						</ul>
					</div>
					<div class="project-text-title"><h6>Participants</h6></div>
					<ul class="collection">
						{{#users}}
						<li class="collection-item avatar grey lighten-4">
						<img class="circle small-circle" src="https://s3.eu-west-2.amazonaws.com/teamup-images/{{{image}}}" onerror="this.src='https://s3.eu-west-2.amazonaws.com/teamup-images/_default_user_image.png';" alt="Image is missing">
						<span class="title title-user title-user-med-and-down">{{nickname}} </span>
						<a href="/user/profile?id={{{email}}}" class="secondary-content link-user"><i class="material-icons">link</i><span class="link-text-user">Go to user profile</span></a>
						{{/users}}
						</li>
					</ul>					
				</div>
				<div class="col s12"><hr/></div>
				<div class="col s12">
					<button class="btn waves-effect applicationBtn modal-trigger" data-target="modal-apply"><i class="material-icons left">add</i>Apply for the project</button>
					<button class="btn waves-effect btn-apply quitBtn red modal-trigger" data-target="modal-quit"><i class="material-icons left">exit_to_app</i>Quit the project</button>
				</div>
	    	</div>
      	</div>

		<div id="modal-login" class="modal modal-fixed-footer">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<h4>Sign In</h4>
				<form>
					<div class="row">
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">mail</i>
							<input id="login-email" type="email" class="validate">
							<label for="login-email">Email</label>
							<span class="helper-text" data-error="Enter a valid email address" data-success="Correct"></span>
						</div>
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">lock</i>
							<input id="login-password" type="password" class="validate">
							<label for="login-password">Password</label>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light" id="signinBtn" type="submit" name="action">SIGN IN
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
		<div id="modal-signup" class="modal modal-fixed-footer">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<h4>Sign Up</h4>
				<form>
					<div class="row">
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">person_pin</i>
							<input id="signup-username" type="text" class="validate">
							<label for="signup-username">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">mail</i>
							<input id="signup-email" type="email" class="validate">
							<label for="signup-email">Email</label>
							<span class="helper-text" data-error="Enter a valid email address" data-success="Correct"></span>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">lock</i>
							<input id="signup-password" type="password" class="signup-passwords">
							<label for="signup-password">Password</label>
						</div>
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">lock</i>
							<input id="signup-confirm-password" type="password" class="signup-passwords">
							<label for="signup-confirm-password">Confirm Password</label>
						</div>
						<span id="helper-text-password1">The password must contain at least 8 characters, one uppercase letter, one lowercase letter, one digit number and one special character</span>
						<span id="helper-text-password2">The passwords must be the same</span>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<h6>Add your skills:</h6>
							<div id="signup-skills" class="chips chips-initial"></div>
						</div>
					</div>
					<form action="#">
						<h6>You can optionally add an image to your profile.</h6>
						<div class="file-field input-field">
							<div class="btn">
								<span>File</span>
								<input id="signup-file" type="file">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</form>									
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light" id="signupBtn" type="submit" name="action">CREATE ACCOUNT
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
		<div id="modal-verify" class="modal modal-fixed-footer">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<h4>Verify your email address</h4>
				<form>
					<div class="row">
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">mail</i>
							<input id="verify-email" type="email" class="validate">
							<label for="verify-email">Email</label>
							<span class="helper-text" data-error="Enter a valid email address" data-success="Correct"></span>
						</div>
						<div class="input-field col s12 m6 l6">
							<i class="material-icons prefix">lock</i>
							<input id="verify-code" type="number" class="validate">
							<label for="verify-code">Code</label>
							<span class="helper-text" data-error="The code must contain numbers"></span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light" id="verifyBtn" type="submit" name="action">VERIFY EMAIL
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>

		<div id="modal-project" class="modal modal-fixed-footer">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<h4>Create a new project</h4>
				<form>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">title</i>
							<input id="project-name" type="text" class="validate">
							<label for="project-name">Title</label>
						</div>
						<div class="input-field col s12">
							<i class="material-icons prefix">description</i>
							<textarea id="project-description" class="materialize-textarea"></textarea>
							<label for="project-description">Description</label>
						</div>
						<div class="input-field col s12">
							<h6>Add the skills necessary to this project:</h6>
							<div id="project-skills" class="chips chips-initial"></div>
						</div>
					</div>
				</form>
				<form action="#">
					<h6>You can optionally add an image to your project.</h6>
					<div class="file-field input-field">
						<div class="btn">
							<span>File</span>
							<input id="project-file" type="file">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light" id="createProjectBtn" type="submit" name="action">CREATE PROJECT
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>

		<div id="modal-logout" class="modal modal-fixed-footer">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<h4>Confirm you want to sign out</h4>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light" id="signoutBtn" type="submit" name="action">CONFIRM
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>

		<div id="modal-about" class="modal bottom-sheet">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<div class="row">
					<div class="col s9">
						<h4>About <span class="brand-logo">TeamUP&uarr;</span></h4>
						This site was created in the context of a project in the web technologies course. This is a not-for-profit website where people can meet and communicate. We, the creators of this site hope you enjoy your stay here. &#128513; &#128513;
					</div>
					<div class="col s3 brand-logo-about">
						<img src="/img/logo.png">
					</div>
				</div>
			</div>
		</div>

		<div id="modal-apply" class="modal modal-fixed-footer">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<h4>Send a message to the creator to apply for this project: {{project.name}}.</h4>
				<form>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">message</i>
							<textarea id="apply-description" class="materialize-textarea"></textarea>
							<label for="apply-description">Message</label>
						</div>
					</div>
				</form>	
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light" id="applyProjectBtn" type="submit" name="action">APPLY
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>

		<div id="modal-quit" class="modal modal-fixed-footer">
			<div class="modal-content">
				<i class="material-icons modal-close right">close</i>
				<h4>Are you sure you want to quit the project?</h4>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light" id="quitProjectBtn" type="submit" name="action">CONFIRM
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>			
	</main>

	

	<footer class="page-footer blue darken-3">
		<div class="container">
			<div id="footer-row" class="row">
				<div class="col l9 s9">
					<!-- <h5 class="white-text">Footer Content</h5> -->
					<h6 class="footer-h6 grey-text text-lighten-4">TeamUP&uarr; is a group project created by Ren Jiang & Kevin Jolly.</h6>
				</div>
				<div class="col l2 offset-l1 s3">
					<!-- <h5 class="white-text">Github</h5> -->
					<h6 class="footer-h6"><a class="grey-text text-lighten-3" href="https://github.com/Kevjolly/WebTechnologiesProject/">
						<i class="material-icons">link</i>
						<span id="github-link">Github</span></a>
					</h6>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>